Repository NashTech-Labs/go1Percent_Automation, pull requests merged in 2023-11, with the labels that each got.

#78 Globals changes
  go1percent/globals.js
  go1percent/test/Add_Contribution/API/Add_Contribution.js
Labels: Add Configuration API

#20 Initial commit.
  .gitignore
  go1percent/globals.js
  go1percent/test/Techhub_AdminUser_FE/go1Percentloging.js
  go1percent/test/myProfile_API/KnoldusLogo.png
  go1percent/test/myProfile_API/MyProfile_API.js
Labels: My Profile

#84 manage upcoming sessions ui file update
  go1percent/nightwatch.conf.js
  go1percent/test/Manage_Upcoming_Sessions/manage_upcoming_sessions_ui.js
Labels: manage upcoming sessions

#12 Automated API of ticket assigned to me
  .gitignore
  go1percent/globals.js
  go1percent/nightwatch.conf.js
  go1percent/package-lock.json
  go1percent/page-objects/Ticket_Assigned_To_Me/ticketAssignedToMe.js
  go1percent/page-objects/login.js
  go1percent/test/TicketAssignedToMe/ticket-assigned-to-me-api-testing.js
  go1percent/test/TicketAssignedToMe/ticket-assigned-to-me-fe.js
  go1percent/test/ticket-assigned-to-me-api-testing.js
  go1percent/test/ticket-assigned-to-me-fe.js
Labels: ticket-assigned-to-me

#87 Feature/addcontribution
  go1percent/globals.js
  go1percent/helpers/Go1PercentFEAutomation/CONTRIBUTION/ADD_CONTRIBUTION/go1Percentloging.js
  go1percent/package-lock.json
  go1percent/package.json
  go1percent/page-objects/CONTRIBUTION/ADD_CONTRIBUTION/Contribution.js
  go1percent/page-objects/CONTRIBUTION/ADD_CONTRIBUTION/Dashboard.js
  go1percent/page-objects/CONTRIBUTION/ADD_CONTRIBUTION/Profile.js
  go1percent/test/Go1PercentAPIAutomation/CONTRIBUTION/ADD_CONTRIBUTION/Add_Contribution.js
  go1percent/test/Go1PercentFEAutomation/CONTRIBUTION/ADD_CONTRIBUTION/Add_Contribution_Futuredate.js
  go1percent/test/Go1PercentFEAutomation/CONTRIBUTION/ADD_CONTRIBUTION/Add_Contribution_Invalid.js
  go1percent/test/Go1PercentFEAutomation/CONTRIBUTION/ADD_CONTRIBUTION/Add_Contribution_Submit_Disabled.js
  go1percent/test/Go1PercentFEAutomation/CONTRIBUTION/ADD_CONTRIBUTION/Add_Contribution_Successful.js
Labels: FE Add Contribution

#95 Feature/ticket assigned to me
  .github/workflows/Go1Percent.yml
  go1percent/nightwatch.conf.js
  go1percent/package-lock.json
  go1percent/page-objects/TicketAssignedToMe/ticketAssignedToMe.js
  go1percent/page-objects/login.js
  go1percent/test/Go1PercentAPIAutomation/HELPDESK/TicketAssignedToMeAPIAutomation/ticket-assigned-to-me-api-testing.js
  go1percent/test/Go1PercentFEAutomation/HELPDESK/TicketAssignedToMeFE/ticket-assigned-to-me-fe.js
  go1percent/test/TicketAssignedToMe/ticket-assigned-to-me-api-testing.js
  go1percent/test/TicketAssignedToMe/ticket-assigned-to-me-fe.js
Labels: ticket-assigned-to-me

#94 Refractored folder structure and added extra assertons to API file
  go1percent/test/Go1PercentAPIAutomation/bookASession/bookASession_api.js
  go1percent/test/Go1PercentFEAutomation/bookASession/bookASession_UI.js
Labels: Book A Session

#90 Refactored Testcases
  go1percent/globals.js
  go1percent/page-objects/FeedbackForm/feedbackFormSectionPage.js
  go1percent/page-objects/FeedbackForm/formCreateUpdatePage.js
  go1percent/test/Go1PercentAPIAutomation/FEEDBACKFORM/feedback-form_API-tests.js
  go1percent/test/Go1PercentFEAutomation/FEEDBACKFORM/feedbackForm_ui_tests.js
Labels: feature/ feedback-form

#97 Refactored folder structured.
  go1percent/page-objects/manageSlot/manageSlotPages.js
  go1percent/test/Go1PercentAPIAutomation/manageSlot/manageSlotTest.js
  go1percent/test/Go1PercentFEAutomation/manageSlot/manageSlotTest.js
Labels: Manage Slot

#88 Feature/review contribution admin
  go1percent/globals.js
  go1percent/nightwatch.conf.js
  go1percent/package-lock.json
  go1percent/page-objects/CONTRIBUTION/review_contribution/allContribution.js
  go1percent/page-objects/CONTRIBUTION/review_contribution/approvals.js
  go1percent/test/Go1PercentAPIAutomation/CONTRIBUTION/Review_Contribution/reviewContributionApi.js
  go1percent/test/Go1PercentFEAutomation/CONTRIBUTION/Review_Contribution/review_all_contribution.js
  go1percent/test/Go1PercentFEAutomation/CONTRIBUTION/Review_Contribution/review_pending_approval.js
Labels: review-contributions

#89 Feature/ticket raised by me fe
  go1percent/globals.js
  go1percent/helpers/Go1PercentFEAutomation/TicketRaised/files/Nightwatch.jpg
  go1percent/page-objects/helpdesk/ticket_raised/admin.js
  go1percent/page-objects/helpdesk/ticket_raised/logout.js
  go1percent/page-objects/helpdesk/ticket_raised/tickets.js
  go1percent/test/Go1PercentAPIAutomation/helpdesk/TicketAssignedToMeAPIAutomation/ticket-assigned-to-me-api-testing.js
  go1percent/test/Go1PercentAPIAutomation/helpdesk/TicketRaised/TicketRaisedByMe.test.js
  go1percent/test/Go1PercentFEAutomation/helpdesk/TicketAssignedToMeFE/ticket-assigned-to-me-fe.js
  go1percent/test/Go1PercentFEAutomation/helpdesk/TicketRaised/SendMessage.js
  go1percent/test/Go1PercentFEAutomation/helpdesk/TicketRaised/TicketRaisedByMe.js
Labels: ticket-raised

#85 changed folder structure
  go1percent/globals.js
  go1percent/page-objects/CONTRIBUTION/editsearchcontribution/edit_search_contribution.js
  go1percent/test/Go1PercentAPIAutomation/CONTRIBUTION/editcontribution/contribution_edit_api.js
  go1percent/test/Go1PercentFEAutomation/CONTRIBUTION/editcontribution/contribution-edit-ui-tests.js
  go1percent/test/Go1PercentFEAutomation/CONTRIBUTION/searchcontribution/contribution_search_ui_tests.js
Labels: edit-search-contribution-ui-testing

#82 Refactored test cases for image upload
  go1percent/helpers/Go1PercentFEAutomation/LeaderboardRewards/imageFiles/eardopes.jpg
  go1percent/helpers/Go1PercentFEAutomation/LeaderboardRewards/imageFiles/giphy1.gif
  go1percent/helpers/Go1PercentFEAutomation/LeaderboardRewards/imageFiles/nature.jpg
  go1percent/nightwatch.conf.js
  go1percent/page-objects/Leaderboard_Rewards/RewardSectionPage.js
  go1percent/test/Go1PercentAPIAutomation/LeaderboardRewards/Leaderboard_reward_section_api.js
  go1percent/test/Go1PercentFEAutomation/LeaderboardRewards/Leaderboard_UI_Admin.js
  go1percent/test/Go1PercentFEAutomation/LeaderboardRewards/Leaderboard_UI_User.js
  go1percent/test/Leaderboard_Reward/Rewards_UI/Leaderboard_UI_Automation.js
  go1percent/test/Leaderboard_Reward_Part1/Rewards_API/Leaderboard_reward_section_api.js
Labels: Leaderboard-Reward-Section

#96 Feature/manage my upcoming session fe
  go1percent/globals.js
  go1percent/page-objects/ManageMyUpcomingSession/My_Upcoming_Session.js
  go1percent/test/Go1PercentAPIAutomation/ManageMyUpcomingSession/Upcoming_Session_API.js
  go1percent/test/Go1PercentFEAutomation/ManageMyUpcomingSession/Upcoming-Session-FrontEnd.js
Labels: Manage My Upcoming Session

#65 My Profile Front End Automation
  go1percent/nightwatch.conf.js
  go1percent/page-objects/My_Profile/myProfilePage.js
  go1percent/page-objects/login.js
  go1percent/test/myProfile_FE/myProfile.js
  go1percent/test/myProfile_FE/myProfile_AdminUser.js
Labels: My Profile

#98 refactored folder structure
  go1percent/test/Go1PercentAPIAutomation/ManageUpcomingSessions/manage_upcoming_sessions_api.js
  go1percent/test/Go1PercentFEAutomation/ManageUpcomingSessions/manage_upcoming_sessions_ui.js
Labels: manage upcoming sessions

#103 Feature/my past session
  go1percent/helpers/Go1PercentFEAutomation/myPastSession/myPastSession.js
  go1percent/page-objects/myPastSession/myPastSessionpages.js
  go1percent/test/Go1PercentAPIAutomation/myPastSession/myPastSession.js
  go1percent/test/Go1PercentFEAutomation/myPastSession/myPastSession.js
  go1percent/test/My_Past_session/My_past_session.js
Labels: My Past Session

#105 Feature/my profile frontend testing
  go1percent/test/Go1PercentFEAutomation/myProfile/myProfile_AdminUser_UI.js
  go1percent/test/Go1PercentFEAutomation/myProfile/myProfile_UI.js
Labels: My Profile

#99 Feature/requested session
  go1percent/page-objects/RequestedSession/knolxRequestPage.js
  go1percent/test/Go1PercentAPIAutomation/RequestedSession/requested-session_api.js
  go1percent/test/Go1PercentFEAutomation/RequestedSession/Requested-sessions_fe.js
Labels: requested-sessions

#110 TS FE added
  go1percentTS/src/helpers/Go1PercentFEAutomation/contribution/addContribution/go1Percentloging.ts
  go1percentTS/src/page-objects/contribution/addContribution/Contribution.ts
  go1percentTS/src/page-objects/contribution/addContribution/Dashboard.ts
  go1percentTS/src/page-objects/contribution/addContribution/Profile.ts
  go1percentTS/src/page-objects/contribution/addContribution/login.ts
  go1percentTS/src/test/Go1PercentFEAutomation/contribution/addContribution/Add_Contribution_Futuredate.ts
  go1percentTS/src/test/Go1PercentFEAutomation/contribution/addContribution/Add_Contribution_Invalid.ts
  go1percentTS/src/test/Go1PercentFEAutomation/contribution/addContribution/Add_Contribution_Submit_Disabled.ts
  go1percentTS/src/test/Go1PercentFEAutomation/contribution/addContribution/Add_Contribution_Successful.ts
Labels: FE Add Contribution

#86 Feature/new knolx sessions frontend automation testing
  go1percent/globals.js
  go1percent/nightwatch.conf.js
  go1percent/page-objects/knolxSessions/knolxSessionsPage.js
  go1percent/page-objects/login.js
  go1percent/test/Go1PercentAPIAutomation/knolxSessions/knolxSessionsTests.js
  go1percent/test/Go1PercentFEAutomation/knolxSessions/pastSessionsTests.js
  go1percent/test/Go1PercentFEAutomation/knolxSessions/upcomingSessionsTests.js
Labels: Knolx-Sessions-UI-TC

#116 Feature/review contribution ts
  go1percentTS/src/page-objects/contribution/login.ts
  go1percentTS/src/page-objects/contribution/reviewContribution/allContribution.ts
  go1percentTS/src/page-objects/contribution/reviewContribution/approvals.ts
  go1percentTS/src/test/Go1PercentFEAutomation/contribution/reviewContribution/reviewAllContributions.ts
  go1percentTS/src/test/Go1PercentFEAutomation/contribution/reviewContribution/reviewApprovalContributions.ts
Labels: review-contributions

#115 Added Frontend Typescript Testcases for Leaderboard Rewards Section
  go1percent/page-objects/LeaderboardRewards/RewardSectionPage.js
  go1percent/page-objects/LeaderboardRewards/add_reward.js
  go1percent/page-objects/LeaderboardRewards/redeem_reward.js
  go1percent/page-objects/LeaderboardRewards/rewards.js
  go1percent/page-objects/LeaderboardRewards/update_reward.js
  go1percent/test/Go1PercentAPIAutomation/LeaderboardRewards/LeaderboardRewardApi.js
  go1percent/test/Go1PercentFEAutomation/LeaderboardRewards/LeaderboardAdmin.js
  go1percent/test/Go1PercentFEAutomation/LeaderboardRewards/LeaderboardUser.js
  go1percentTS/package.json
  go1percentTS/src/helpers/Go1PercentFEAutomation/LeaderboardRewards/imageFiles/eardopes.jpg
  go1percentTS/src/helpers/Go1PercentFEAutomation/LeaderboardRewards/imageFiles/giphy1.gif
  go1percentTS/src/helpers/Go1PercentFEAutomation/LeaderboardRewards/imageFiles/nature.jpg
  go1percentTS/src/page-objects/LeaderboardRewards/RewardSectionPage.ts
  go1percentTS/src/page-objects/login.ts
  go1percentTS/src/test/Go1PercentFEAutomation/LeaderboardRewards/LeaderboardAdmin.ts
  go1percentTS/src/test/Go1PercentFEAutomation/LeaderboardRewards/LeaderboardUser.ts
Labels: Leaderboard-Reward-Section

#106 Updated folder structure for API
  go1percent/test/Go1PercentAPIAutomation/myProfile/myProfile_API.js
  go1percent/test/myProfile_API/KnoldusLogo.png
Labels: My Profile

#112 TS FE added
  go1percentTS/src/page-objects/RequestedSession/knolxRequestPage.ts
  go1percentTS/src/test/Go1PercentFEAutomation/RequestedSession/RequestedSessionsTest.ts
Labels: requested-sessions

#124 Feature/manage upcoming sessions fe typescript
  go1percentTS/src/page-objects/ManageUpcomingSession/manage_upcoming_sessions_page.ts
  go1percentTS/src/test/Go1PercentFEAutomation/ManageUpcomingSession/manage_upcoming_sessions.ts
Labels: manage upcoming sessions

#128 Modified test files
  go1percentTS/package.json
  go1percentTS/src/helpers/Go1PercentFEAutomation/contribution/addContribution/go1Percentloging.ts
  go1percentTS/src/page-objects/contribution/addContribution/Contribution.ts
  go1percentTS/src/page-objects/contribution/addContribution/login.ts
  go1percentTS/src/test/Go1PercentFEAutomation/contribution/addContribution/Add_Contribution_Futuredate.ts
  go1percentTS/src/test/Go1PercentFEAutomation/contribution/addContribution/Add_Contribution_Invalid.ts
  go1percentTS/src/test/Go1PercentFEAutomation/contribution/addContribution/Add_Contribution_Submit_Disabled.ts
  go1percentTS/src/test/Go1PercentFEAutomation/contribution/addContribution/Add_Contribution_Successful.ts
Labels: FE Add Contribution

#125 Feature/my past session
  go1percent/page-objects/myPastSession/myPastSessionpages.js
  go1percent/test/Go1PercentAPIAutomation/myPastSession/myPastSession.js
  go1percent/test/Go1PercentFEAutomation/myPastSession/myPastSession.js
  go1percentTS/nightwatch.conf.js
  go1percentTS/package.json
  go1percentTS/src/page-objects/myPastSession/myPastSession.ts
  go1percentTS/src/test/Go1PercentFEAutomation/myPastSession/myPastSessionFe.ts
Labels: My Past Session

#119 FE test cases typescript
  go1percentTS/package.json
  go1percentTS/src/helpers/Go1PercentFEAutomation/helpdesk/ticketassignedtome/smalldog.jpg
  go1percentTS/src/page-objects/helpdesk/ticketAssignedToMe/ticketPage.ts
  go1percentTS/src/test/Go1PercentFEAutomation/helpdesk/ticketAssignedToMe/ticket-assigned-to-me-fe.ts
Labels: ticket-assigned-to-me

#141 admin profile class change
  go1percentTS/src/test/Go1PercentFEAutomation/adminProfile/adminProfileTest.ts
Labels: Admin Profile

#139 API testing
  go1percentTS/src/test/Go1PercentAPIAutomation/contribution/addContribution/Add_Contribution.ts
  go1percentTS/src/test/globals.ts
Labels: FE Add Contribution

#140 Feature/knolx sesion api ts : API testing with types script
  go1percentTS/src/globals.ts
  go1percentTS/src/test/Go1PercentAPIAutomation/knolxSessions/knolxSessionsTest.ts
Labels: knolx-Sessions-API-TS

#144 Improved locators
  go1percentTS/src/page-objects/helpdesk/ticketAssignedToMe/ticketPage.ts
  go1percentTS/src/test/Go1PercentFEAutomation/helpdesk/ticketAssignedToMe/ticket-assigned-to-me-fe.ts
Labels: ticket-assigned-to-me

#145 New Branch For PR
  .gitignore
  go1percent/test/Manage_My_Upcoming_Session_API_And_FE/Upcoming-Session-FrontEnd.js
  go1percent/test/Manage_My_Upcoming_Session_API_And_FE/Upcoming_Session_API.js
  go1percentTS/globals.js
  go1percentTS/src/globals.ts
  go1percentTS/src/page-objects/ManageMyUpcomingSession/MySessionPage.ts
  go1percentTS/src/page-objects/ManageMyUpcomingSession/My_Upcoming_Session.ts
  go1percentTS/src/page-objects/ManageMyUpcomingSession/login.ts
  go1percentTS/src/test/Go1PercentFEAutomation/ManageMyUpcomingSession/Upcoming-Session-FrontEnd.ts
  go1percentTS/src/test/globals.ts
Labels: Manage My Upcoming Session

#127 Frontend testcases with typescript for my profile module
  go1percentTS/src/page-objects/myProfile/myProfilePage.ts
  go1percentTS/src/test/Go1PercentFEAutomation/myProfile/myProfile_AdminUser_UI.ts
  go1percentTS/src/test/Go1PercentFEAutomation/myProfile/myProfile_UI.ts
Labels: My Profile
